@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: "Hanken Grotesk", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  display: grid;
  place-items: center;
}

#result-summary {
  display: grid;
  max-width: 46rem;
}

#card-1,
#card-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  overflow: hidden;
}

#card-1 {
  align-items: center;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 0 0 2rem 2rem;
  justify-content: space-evenly;
}

#result-heading {
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: 700;
  }

#circle {
  height: 12rem;
  width: 12rem;
  border-radius: 100%;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#result-score {
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 5rem;
}

#overall-score {
  font-size: 1.175rem;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.7);
}

#feedback-title {
  color: hsla(0, 0%, 100%);
  font-weight: 700;
}

#feedback {
  color: hsl(0, 0%, 100%, 0.7);
  text-align: center;
}

#card-2 {
  background-color: hsla(0, 0%, 100%);
}

#summary-heading {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}

.grid {
  display: grid;
  gap: 1rem;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: lightblue;
  /* color: hsla(0, 0%, 100%, 0.7); */
  color: hsl(224, 30%, 27%, .5);
}

#reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.reaction-heading {
  display: flex;
  align-items: center;
  color: hsl(0, 100%, 67%);
}

#memory {
  background-color: hsla(39, 100%, 56%, .1);
}

.memory-heading {
  display: flex;
  align-items: center;
  color: hsl(39, 100%, 56%);
}

#verbal {
  background-color: hsl(166, 100%, 37%, .1);
}

.verbal-heading {
  display: flex;
  align-items: center;
  color: hsl(166, 100%, 37%);
}

#visual {
  background-color: hsl(234, 85%, 45%, .1);
}

.visual-heading {
  display: flex;
  align-items: center;
  color: hsl(234, 85%, 45%);
}

svg {
  margin-right: 5px ;
}

.summary-item-score {
  color: hsl(224, 30%, 27%);
  margin: 0 5px 0 auto;
  font-weight: 700;
}

.button {
  color: hsl(0, 0%, 100%);
  border: 0;
  line-height: 1;
  border-radius: 100vh;
  padding: 1rem 2rem;
  background-color: hsl(224, 30%, 27%);
  cursor: pointer;
  margin-top: 10px;
  
}

.button:hover {
  /* no transition for gradient */
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (min-width: 600px) {
  body {
    height: 100vh;
  }

  #result-summary {
    grid-template-columns: 1fr 1fr;
    box-shadow: 0.5rem 1rem 3rem hsl(224, 30%, 27%, 0.2);
    border-radius: 2rem;
  }

  #card-1,
  #card-2 {
    border-radius: 2rem;
    padding: 2.5rem;
  }

  #feedback {
    width: 15.9rem;
  }
}
